{% extends "layouts/_layout.twig" %}

{% set title = "Blog" %}

{% block content %}
    <h2>Blog</h2>
    <ul>
        {% for entry in craft.entries.section('blog').all() %}
            <li>
                <a href="{{ entry.url }}">{{ entry.title }}</a>
                <p>{{ entry.body|striptags|length > 200 ? entry.body|striptags|slice(0, 200) ~ '...' : entry.body|striptags }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
